#statusBar {
    margin: 15px 15px;
}

#statusBar span {
    color: #EEEEEE;
}

#statusBar .emptyRight {
    margin-right: 15px;
}

.blockContent {
    margin: 15px 0 0 0;
    display: none;
}

.label {
    color: #c8c8c8;
}
