#blockTestLetters .divGroupName {
}

#blockTestLetters .txtQuestion {
    font-size: 16px;
}

#blockTestLetters .btnSubmit {
    height: 40px;
}
    
#blockTestLetters .inpCorrectAnswer {
    display: none;
}
