@{
    ViewBag.Title = "Home Page";
}
<style>
    /*#question-block div
    {
        margin: 10px 10px;
    }

    .center {
        width: 50%;
        margin: 0 auto;
    }*/

    #inpCorrectAnswer {
        display: none;
    }
</style>

<div class="form-horizontal">
    <div class="form-group"><div id="statusBar">&nbsp;</div></div>
    <div class="form-group"><div id="txtQuestion">&nbsp;</div></div>
    <div class="form-group"><input id="inpAnswer" type="text" class="form-control" /></div>
    <div class="form-group"><input id="inpCorrectAnswer" type="text" class="form-control" /></div>
    <div class="form-group"><button id="btnSubmit" class="btn btn-primary center">Проверить2</button></div>
    <div id="txtMessage"></div>
</div>

@section scripts {
<script src="~/JS/Study/study.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var urlStartStudy = "@Url.Action("StartStudy")";
    var urlNextStep = "@Url.Action("NextStep")";

    $(function () {
        var studyTest = new StudyTest(urlStartStudy, urlNextStep);
        studyTest.Start();
    });
</script>
}