@{
    ViewBag.Title = "Пространство вариантов";
}
<style>
    #divForm {
        margin: 15px 0 0 0;
    }
    #divGroupName {
        font-size: 12px;
    }
    #txtQuestion {
        font-size: 16px;
    }
    #btnSubmit {
        height: 40px;
    }
    #statusBar {
        margin: 15px 5px;
    }
    #statusBar span {
        color: #EEEEEE;
    }
    #statusBar span.glyphicon {
        margin-left: 15px;
    }
    
    #inpCorrectAnswer {
        display: none;
    }
    #groupVariants {
        margin: 20px -10px 0 -10px;
    }
    #groupVariants div {
        padding: 10px;
    }
    .linkVariant {
        width: 100%;
        padding-top: 8px;
        height: 40px;
    }
</style>

<div id="divForm" class="form">
    <div class="form-group">
        <div id="divGroupName" class="label label-info"></div>
    </div>
    <div class="form-group">
        <div id="txtQuestion">&nbsp;</div>
    </div>
    <div class="form-group input-group">
        <input id="inpAnswer" type="text" class="form-control" />
        <div class="input-group-btn">
            <button id="btnRemove" type="button" class="btn btn-default"><span class="glyphicon glyphicon-remove"></span></button>
        </div>
    </div>
    <div class="form-group">
        <input id="inpCorrectAnswer" type="text" class="form-control" />
    </div>
    <div class="btn-group btn-group-justified">
        <a href="#" id="btnSubmit" class="btn btn-primary">Проверить</a>
    </div>
    <div id="txtMessage"></div>
    <div id="groupVariants" class="form-group row"></div>
</div>


@section scripts {
<script src="~/JS/Study/study2.js" type="text/javascript" charset="utf-8"></script>
<script src="~/JS/Utils/md5.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
    var urlStartStudy = "@Url.Action("StartStudy")";
    var urlNextStep = "@Url.Action("NextStep")";

    $(function () {
        var studyTest = new StudyTest(urlStartStudy, urlNextStep);
        studyTest.Start();
        $("#inpAnswer").prop("disabled", true);
    });
</script>
}
@section status {
    <div id="statusBar">
        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> <span id="statCorrect"></span>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> <span id="statIncorrect"></span>
        <span class="glyphicon glyphicon-saved" aria-hidden="true"></span> <span id="statStepNumber"></span>
    </div>
}