@{
    ViewBag.Title = "Home Page";
}
<style>
    #question-block div
    {
        margin: 10px 10px;
    }
    .center {
    width: 50%;
    margin: 0 auto; 
}
</style>

<div id="question-block" class="center">
    <div>верхняя панель</div>
    <div class="text">Вопрос</div>
    <div><input type="text" class="form-control" /></div>
    <div><button class="btn btn-primary center">Проверить</button></div>
</div>