@{
    ViewBag.Title = "Home Page";
}
<style>
    #question-block div
    {
        margin: 10px 10px;
    }
    .center {
    width: 50%;
    margin: 0 auto; 
}
</style>

<div id="question-block" class="center">
    <div>верхняя панель</div>
    <div id="txtQuestion" class="text">Вопрос</div>
    <div><input id="inpAnswer" type="text" class="form-control" /></div>
    <div><input id="inpCorrectAnswer" type="text" class="form-control" /></div>
    <div><button id="btnSubmit" class="btn btn-primary center">Проверить</button></div>
    <div id="txtMessage"></div>
</div>

@section scripts {
<script src="~/JS/Study/study.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
    var urlStartStudy = "@Url.Action("StartStudy")";
    var urlNextStep = "@Url.Action("NextStep")";

    $(function () {
        var studyTest = new StudyTest(urlStartStudy, urlNextStep);
        studyTest.Start();
    });
</script>
}