@{
    ViewBag.Title = "Home Page";
}
<style>
    #question-block div
    {
        margin: 10px 10px;
    }
    .center {
    width: 50%;
    margin: 0 auto; 
}
</style>

<div id="question-block" class="center">
    <div>верхняя панель</div>
    <div id="txtQuestion" class="text">Вопрос</div>
    <div><input id="inpAnswer" type="text" class="form-control" /></div>
    <div><button id="btnSubmit" class="btn btn-primary center">Проверить</button></div>
</div>

@section scripts {
<script type="text/javascript">
    function FirstQuestion() {
        var url = "@Url.Action("FirstQuestion")";
        $.ajax({ type: "POST", url: url,
            success: function (response) {
                console.log(response);
                $("#txtQuestion").text(response.CurrentQuestion.Text);
            }
        });
    }

    function NextQuestion() {
        var url = "@Url.Action("NextQuestion")";
        $.ajax({ type: "POST", url: url, data: { answer: $("#inpAnswer").val() },
            success: function (response) {
                console.log(response);
                $("#txtQuestion").text(response.CurrentQuestion.Text);
                //if (response.Type == "word")
                  //  lernWord.showQuestion(response);
            }
        });
    }

    $(function () {

        $("#btnSubmit").click(function () {
            NextQuestion();
        });

        FirstQuestion();
    });
</script>
}