@using MyMemory.MVC.Models
@model HomeVM

@{
    ViewBag.Title = "MyMemory";
}

<h3>Группы</h3>

<table>
    @foreach (var group in Model.Groups)
    {
        <tr>
            <td>
                @Html.RouteLink(@group.Name, "RouteStudyGroup", new { id = @group.Id })
            </td>
        </tr>
    }
</table>